.content-area {
	width: 100%;
	max-width: $bp__lg;
	margin: 0 auto;

	// padding: 0 15px;
	// @include breakpoint(min, $bp__md) {
	// 	width: 800px;
	// 	margin: 0 auto;
	// }
	&.book-page {
		max-width: 800px;
	}
}

.site-main {
	float: left;
	margin: 0;
	width: (100% - $size__site-sidebar);

	.full-width & {
		width: 100%;
	}
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: 100%;
}