body,
button,
input,
select,
textarea {
	color: $color__text-main;
	@include font-size(1.375);
	line-height: $font__line-height-body;
}

body {
	font-family: $font__serif;
}
input, select, textarea {
	font-family: $font__sans-serif;
}
button, input[type=submit] {
	font-family: $font__sans-serif-condensed;
	text-transform: uppercase;
}

@import "headings";

@import "copy";